<!DOCTYPE html>
<html>
  <head>
    <title>Greenit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %> </p>



    <nav>
      <div class="nav-wrapper">
        <%= link_to 'Green-It', root_path, class: 'brand-logo' %>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'Create a Post', new_link_path %>
            <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to 'Account', edit_user_registration_path %>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="parent-div">
      <%= yield %>
    </div>
  </body>
</html>
